article.post {
    overflow: hidden;
    border-bottom: 1px #ccc solid;
    padding-bottom: 20px;

    .meta {
        background: #333;
        color: #fff;
        padding: 5px;
    }

    .meta a {
        color: #fff;
    }

    .post-thumbnail img {
        width: 100%;
        height: auto;
    }

}