.side-widget {
  padding: 10px 10px;
  margin-bottom: 20px;
  margin-top: 20px;

  li {
    list-style: none;
    line-height: 2.2em;
    border-bottom: 1px dotted #ccc;

    a {
      text-decoration: none;
    }
  }
}

